{% if site.avatar -%}
  <div class="sidebar-section">
    {%- if site.avatar contains "://" -%}
      {%- assign avatar = site.avatar -%}
    {%- else -%}
      {%- assign avatar = site.avatar | relative_url -%}
    {%- endif -%}
    <a href="/">
      <img src="{{ avatar }}" class="author-avatar u-photo align-center" alt="{{ site.author }}">
    </a>
    
    <div style="margin-top: 1rem;">
      <strong>
        <a href="/index" style="font-size: 18px; font-weight: bold;">Home</a>
      </strong>
    </div>
    <div style="margin-top: 1rem;">
      <strong>
        <a href="/projects" style="font-size: 18px; font-weight: bold;">Projects</a>
      </strong>
    </div>
  </div>
{%- endif %}

{% if site.data.social -%}
  <div class="sidebar-section">
    <ul class="social-icons">
      {% for social in site.data.social -%}
        <li>
          <a class="social-icon" href="{{ social.url }}"><i class="{{ social.icon | default: 'fas fa-link' }} fa-2x" title="{{ social.title }}"></i></a>
        </li>
      {%- endfor %}
    </ul>
  </div>
{%- endif %}
